{% extends "MedBacFormationBundle::layout.html.twig" %}
 

 {%block product%}
             {% for entity in xxx %}
              <li> <a href="detail.html"><img src="{{ asset('bundles/medbacformation/bijou/'~entity.path)}}" alt="" width="109" height="101" border="0" /></a>
               <h6 class="colr">{{entity.titre}} </h6>
              <div><span>{% for Genre in entity.listeDesGenres %}{% if loop.index > 1 %},
{% endif %} {{ Genre.libelle }}{% endfor %}</span></div>
               <p class="price"><h3>{{entity.prix}} Dt</h3></p>
      
              </li>
              {%endfor%} 
 {%endblock%}
{%block content%}
<div  style=" height:650px" class="cont_center">
    
    <center><h2>Renouveler votre Recherche</h2></center><br>
    
    <form action="{{ path('recherche') }}" method="post" {{ form_enctype(form) }} class="well-sm">
  {{form_widget(form._token)}}
  
   <a> {{ form_errors(form) }}</a>
  
               <div style="text-align: left"class="form-group">
                {{ form_label(form.quantite,"Mot Cles :") }}
                {{ form_errors(form.quantite) }}
                {{ form_widget(form.quantite, { 'attr': {'placeholder': "Entrer votre recherche"} }) }}
                </div>
    <div>
       <center> <input type="submit" class="btn btn-primary btn-success pull-right"/>
       </center></div> 
     </form><br><br><br>
    <center><h2>Resultat de La Recherche</h2></center><br>
    {% for entity in entities.currentPageResults %}
      <div class="product_bg">
    <div class="product_content">
    <a href=""><img src="{{ asset('bundles/medbacformation/bijou/'~entity.path)}}" alt="" width="117" height="115" border="0" class="prodbig1" /></a>
    <h6>Titre:{{entity.titre}}</h6>
    <h6>Quantité Restante:{{entity.quantite}}</h6>
    <h6>Genre:<span>{% for Genre in entity.listeDesGenres %}{% if loop.index > 1 %},
    {% endif %} {{ Genre.libelle }}{% endfor %}</span>
    </h6>
    <a href="{{ path('ajout_panier',{ 'id': entity.id})}}"><img src="{{ asset('bundles/medbacformation/images/panier.jpg') }}" alt="" width="52" height="40" border="0" class="add_to_cart" onclick="return confirm('Voulez-vous ajouter cet article à votre panier ?');" /></a>
 <h3 class="product_price">{{entity.prix}} Dt</h3>
    </div>
    </div>
                {% else %}  
        <li>Aucun Bijou trouvé.</li>
{%endfor%}
            
            <div class="pagerfanta pull-right" ><br><br><br><br>
                <center>{{ pagerfanta(entities,'default_translated') }}</center>
        </div>
    
    
    
            </div>  
        
        
        
  
 {%endblock%}
